:root {
  --primary-background-color: #272727;
  --secondary-background-color: #363636;
  --text-color: #FFFFFF;
  --accent-color: #FF6D00;
  --border-color: #00B0FF;
  --highlight-selection-color: #FF4081;
}

body {
  margin: 0;
  background-color: var(--primary-background-color);
  font-family: 'Roboto Mono', monospace;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
