article {
    background-color: var(--secondary-background-color);
    background: linear-gradient(to right, var(--secondary-background-color), var(--accent-color));
    background-size: 200% 100%;
    transition: background-position 0.5s;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    cursor: pointer;
}

article:hover {
    background-position: -100% 0;
}

h2, p, span {
    margin: 0;
}

h2 {
    font-size: medium;
    margin-bottom: 5px;
}

span {
    color: var(--secondary-text-color)
}

.title-row,
.content-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content-row {
    justify-content: space-between;
}